# Lag-fixes t.o.v. de oude cfg:
# - sv_maxclients 48, OneSync infinity + vehicle cull
# - ox_lib/vx_lib starten VOOR es_extended + ox_inventory
# - mysql_slow_query_warning, charset=utf8mb4
# - sv_filterRequestControl 4
#
# Vervang alle "VUL_IN" met de waarden uit je oude server.cfg vóór je restart.
# Zet mysql bij voorkeur op 127.0.0.1 (zelfde machine als FiveM).

endpoint_add_tcp "0.0.0.0:20039"
endpoint_add_udp "0.0.0.0:20039"

# Set Tags
sets tags "nl, dutch, roleplay, esx, ox, custom, politie, ambulance, gangs, drugs, huizen, autos, economy, voice, mallorca"
# --------------------------
# Vul je echte license key in (niet committen naar git)
sv_licenseKey "VUL_IN"
# Servernaam
sv_hostname "^5✦ ^7Mallorca Roleplay ^5✦ ^7┃ ^2NL ^7┃ ^7Semi Roleplay"

# Project
sets sv_projectName "🌴 Mallorca Roleplay Semi"

# Beschrijving
sets sv_projectDesc "💸 €15.000.000 Startgeld • 🚓 Actieve Politie & Ambulance • 🚗 250+ Custom Voertuigen • 🏠 Eigen Woningen • 📱 Moderne Phone • 💼 Unieke Jobs • 🎉 Dagelijkse Events • ⚡ 24/7 Online"

# Zet MySQL bij voorkeur op dezelfde machine (127.0.0.1).
# Remote DB (andere IP) geeft hitching bij inventory, jobs en player-join.
set mysql_connection_string "mysql://USER:PASSWORD@127.0.0.1/s84179_Mallorca_Roleplay?charset=utf8mb4"
set mysql_slow_query_warning 80

load_server_icon "logo.png"
# 64 slots + veel addon-cars/MLO's is te zwaar; later weer omhoog als tick stabiel is
sv_maxclients 48
sets Discord "https://discord.gg/kn92NCvNCx"
sets Website "https://mallorca-roleplay.be/"
sets Owner "Goudesnelle"
sets Developer "Mallorca-Dev"
sets banner_connecting "https://i.postimg.cc/435YsHqn/JE-BENT-AAN-HET-VERBINDEN.gif"
sets locale "nl-NL"
sets banner_detail "https://i.postimg.cc/ZKMFz237/Mallorca-Roleplay.gif"
set steam_webApiKey "VUL_IN"

# OneSync
set onesync on
set onesync_enableInfinity true
set onesync_distanceCullVehicles true
set onesync_forceMigration true
set onesync_population false

set resources_useSystemChat false
sv_enforceGameBuild 3258
setr sv_showBusySpinnerOnLoadingScreen false

set staffduty_discord_token "VUL_IN"

set staffduty_discord_guildid "1476734410618572820"

set mallorca_discord_bot_token "VUL_IN"


ensure ws-ad
add_unsafe_child_process_permission "ws-ad"

# ---------------------
add_principal group.owner group.user
add_ace group.owner command.quit deny # but don't allow quit
add_ace group.owner command allow
add_ace group.owner command.setgroup allow
add_ace group.owner command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace group.owner giveitem allow
add_ace group.owner setjob allow
add_ace group.owner command.givevehicle allow
add_ace group.admin plukevent.admin allow
add_ace resource.es_extended command.stop allow
add_ace resource.JD_logsV3 command.add_principal allow
add_ace resource.JD_logsV3 command.remove_principal allow
add_ace resource.JD_logsV3 command.add_ace allow
add_ace resource.JD_logsV3 command.remove_ace allow
add_ace group.admin snelle-events.manage allow
add_ace group.admin snelle-events.host allow

## Command Permissies
add_principal identifier.discord:506407154409013279 group.owner #goudesnelle
add_ace identifier.discord:506407154409013279 Bypass allow #goudesnelle
add_principal identifier.discord:506407154409013279 command.setjob allow #goudesnelle
add_principal identifier.discord:506407154409013279 command.clearinv allow #goudesnelle
add_principal identifier.discord:506407154409013279 command.viewinv allow #goudesnelle
add_principal identifier.discord:506407154409013279 command.setgroup allow #goudesnelle
add_principal identifier.discord:856890125166575636 command.setgroup allow #goudesnelle
add_principal identifier.discord:506407154409013279 command.giveitem allow #goudesnelle
add_principal identifier.discord:506407154409013279 command.staffassist allow #goudesnelle
add_principal identifier.discord:506407154409013279 command.dv allow #goudesnelle
add_principal identifier.discord:506407154409013279 command.reviveall allow #goudesnelle
add_principal identifier.discord:506407154409013279 command.giveaccountmoney allow #goudesnelle

##-----Johandijkstra------
add_principal identifier.discord:1262829123101917186 group.owner #johandijkstra1111
add_ace identifier.discord:1262829123101917186 Bypass allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.setjob allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.clearinv allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.viewinv allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.setgroup allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.setgroup allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.giveitem allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.staffassist allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.dv allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.reviveall allow #johandijkstra1111
add_principal identifier.discord:1262829123101917186 command.giveaccountmoney allow #johandijkstra1111

##-----DeEnigeEchteStonerSmurf------
add_principal identifier.discord:1258092463629799486 group.owner #stonersmurf3960.
add_ace identifier.discord:1258092463629799486 Bypass allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.setjob allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.clearinv allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.viewinv allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.setgroup allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.setgroup allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.giveitem allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.staffassist allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.dv allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.reviveall allow #stonersmurf3960.
add_principal identifier.discord:1258092463629799486 command.giveaccountmoney allow #stonersmurf3960.

add_ace group.admin mallorca.antibackdoor allow

add_ace identifier.license:072e0c4e10c73cf69be9294b374cad1d0d277cfd group.owner allow

add_ace identifier.discord:506407154409013279 AdminMenu allow #goudesnelle

add_ace resource.ElectronAC command allow

setr ox:primaryColor "orange"
setr ox:primaryShade "6"

# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
# ----------------
sv_enableNetworkedSounds false
sv_enableNetworkedScriptEntityStates false
sv_enableNetworkedPhoneExplosions false
sv_filterRequestControl 4

# -----------------------------------------------------------
ensure chat
ensure chat-theme-civlifechat
ensure hardcap
ensure oxmysql
ensure ox_lib
ensure vx_lib
ensure es_extended
ensure ox_inventory
ensure ox_target
ensure ox_fuel
ensure ox_doorlock
# -----------------------------------------------------------
ensure illenium-appearance
ensure vx_loodsen
ensure vx_seasonpass
ensure vx_secondhandvehicles
ensure vx_staffassist
ensure [voertuigen-donatie]
ensure [voertuigen]
# ----------
ensure [esx]
ensure [standalone]
ensure [scripts]
ensure [streaming]
ensure [wapens]
ensure [phone]
ensure [v2]
ensure WegenwachtMLOcustom
ensure [JG]
ensure [TK]
ensure [addonvoertuigen]
ensure [STG]
ensure [GMS]
# Zet [RTX] uit als spelers nog steeds lage FPS hebben
ensure [RTX]
ensure ocean_garage
ensure [MLO]

ensure carrierflatbed
ensure mallorca_carrier_flatbed_v1_3
ensure mallorca_ox_bridge

add_ace group.mod comserve allow
add_ace group.mod endcomserve allow
add_ace group.owner comserve allow
add_ace group.owner endcomserve allow

sv_tebexSecret "VUL_IN"

fileserver_add ".*" "http://cdn.vibegames.net/VUL_IN/files"
adhesive_cdnKey "VUL_IN"

add_unsafe_child_process_permission ElectronAC # This is automatically added by ElectronAC to allow us to update the anticheat.

sv_listingIpOverride "151.242.106.210"
